@import "tailwindcss";

body {
  background: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-robotoserif);
  font-weight: 500;
}

h2 {
  font-family: var(--font-robotoserif);
  font-weight: 300;
}

h3 {
  font-family: var(--font-robotoserif);
  font-weight: 100;
}

button {
  font-family: var(--font-robotoserif);
  font-weight: 400;
  color: black;
  border-radius: 45px;
  padding: 10px 25px;
  background-color: white;
  border: 2px solid black;
}

button:hover {
  font-family: var(--font-robotoserif);
  font-weight: 400;
  color: rgb(255, 255, 255);
  border-radius: 45px;
  padding: 10px 25px;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
}

* {
  font-family: var(--font-inter);
}

.extendedAnimationOpen {
  opacity: 100;
  translate: 0;
  pointer-events: auto;
}

.extendedAnimationClose {
  opacity: 0;
  translate: 0, 5;
  pointer-events: none;
}
