@import "tailwindcss";

body {
  background: #f9fdfe;
  margin: 0;
  padding: 0;
}

.bg-black {
  background-color: #191411;
}

.bg-white {
  background-color: #f9fdfe;
}

.text-black {
  color: #191411;
}

.text-white {
  color: #f9fdfe;
}

h1 {
  font-family: var(--font-robotoserif);
  font-weight: 500;
}

h2 {
  font-family: var(--font-robotoserif);
  font-weight: 300;
}

h3 {
  font-family: var(--font-robotoserif);
  font-weight: 100;
}

button {
  font-family: var(--font-robotoserif);
  font-weight: 400;
  color: #191411;
  border-radius: 45px;
  padding: 10px 25px;
  background-color: #f9fdfe;
  border: 2px solid #191411;
}

button:hover {
  font-family: var(--font-robotoserif);
  font-weight: 400;
  color: rgb(255, 255, 255);
  border-radius: 45px;
  padding: 10px 25px;
  background-color: #191411;
  border: 2px solid #f9fdfe;
}

input {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  color: #191411;
  border-radius: 45px;
  padding: 10px 25px;
  border: 1px solid #191411;
}

* {
  font-family: var(--font-inter);
}

.extendedAnimationOpen {
  opacity: 100;
  translate: 0;
  pointer-events: auto;
}

.extendedAnimationClose {
  opacity: 0;
  translate: 0, 5;
  pointer-events: none;
}

.payload-richtext ul.list-bullet {
  list-style-type: disc !important;
  margin-left: 1rem !important;
}
